<div class="bg" style="background-color: #f8f8f8;">
  <nz-spin [nzSpinning]="isSpinning" [nzSize]="'large'" nzTip="Working...">
    <div class="parent">
      <div class="child">
        <div nz-row class="imgDiv">
          <div nz-col nzSpan="24">
            <h1 style="margin-left: 80px;">Sign Up</h1>
          </div>
        </div> 
        <form nz-form [formGroup]="signupForm">
  
          <nz-form-item>
            <nz-form-label [nzFor]="'email'" nzRequired></nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="E-mail"
                id="email"
                formControlName="email"
              />
            </nz-form-control>
          </nz-form-item>
  
          <nz-form-item>
            <nz-form-label [nzFor]="'password'" nzRequired></nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Password"
                id="password"
                type="password"
                formControlName="password"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzFor]="'confirm-password'" nzRequired></nz-form-label>
            <nz-form-control>
              <input
                nz-input
                type="password"
                placeholder="Confirm Password"
                id="checkPassword"
                formControlName="confirmPassword"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzFor]="'name'" nzRequired></nz-form-label>
            <nz-form-control>
              <input
                nz-input
                placeholder="Name"
                id="username"
                type="text"
                formControlName="username"
              />
            </nz-form-control>
          </nz-form-item>
          
          <button
            nz-button
            class="login-form-button login-form-margin" (click)="signup()">
            Register
          </button>
          <a routerLink="/login">Login now!</a>
        </form>
      </div>
    </div>
  </nz-spin>
</div>
