<div>
    <nz-header class="main-header customer-navbar" nz-row nzType="flex" >
        <div class="navbar-title">
            <a routerLink="/login"> Real Estate Management System</a>
        </div>
        <div class="nav-link">
            <a nz-button nzType="link"  (click)="gotoRegister()"  routerLinkActive="active">Register</a>
            <a nz-button nzType="link"  (click)="gotoLogin()"     routerLinkActive="active">Login</a>
            <!-- <a nz-button nzType="link"    [routerLink]="'/login'" routerLinkActive="active">Login</a> -->

        </div>
    </nz-header>
</div>
<router-outlet></router-outlet>
